*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body{

    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(https://wallpapercave.com/wp/Qm9D3qf.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
.arriba{
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    z-index: auto;
    text-transform: uppercase;
}
.arriba div a{
    text-decoration: none;
    background-color: rgba(234, 239, 89, 0.472);
    border-radius: 15px;
    color: black;
    border: solid 5px white;
    padding: 5px;
}
.arriba div a:hover{
color: white;
background: black;
} 

.logohome{
    display: flex;
    background: black;
    font-size: 50px;
    color: white;
    padding: 2% 2%;
}
.navbar{
    display:flex;
    justify-content: center;
    align-items:stretch;
    width: 28%;
}
.navbar a{
    display: flex;
    padding: 3% 3%;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    background-color: rgba(234, 239, 89, 0.472);
    width: 100%;
    height: 50%;
    border-radius:20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Anton', sans-serif;
    margin-right: 50px;
    margin-top: 4.5%;
    border: white solid 5px;
    
}
.navbar a:hover{
    color: white;
    background: black;
    border: white solid 5px;
}
.box1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}
.box1 p{
    display:flex;
    flex-direction: column;
    font-size: 20px;
    background-color: rgba(234, 239, 89, 0.472);
    border-radius: 12px;
    padding: 5% 5%;
    margin:2% 2% 2% 2%;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
    float: none;
    width: 100%;
}
#beatle{
    display: flex;
    border-radius: 5%;
    margin: auto;
    flex-grow: 0.5;
    height: 10%;
    width: 10%;
}
.puntos{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-family: 'Anton', sans-serif;
    color: rgb(229, 195, 181);
}
.box2{
    background-color: rgba(0, 0, 0, 0.521);
}
.spotify{
    display: flex;
    flex:auto;
}

